<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charSet="utf-8"/>
    <style>{{{ pinto.css }}}</style>
  </head>
  <body>
    <h1>{{ heading }}</h1>
    <img src="assets/example.svg" alt="example svg!"/>
    <script type="text/javascript">{{{ pinto.js }}}</script>
  </body>
</html>
